@import "../../abstract//variable.module.scss";

.medicine {
  aside {
    // width: 20%;
    position: sticky;
    // overflow: hidden;
    top: 0;
    background-color: $primary;
    color: white;
    border-top: 2px solid $light;
  }
  main {
    padding: 10px 5px;
  }
}
