@import "../../abstract//variable.module.scss";
.ambulance {
  padding: 20px;

  .ambulanceCard {
    width: 320px;
  }
}
.titlePart {
  .title {
    color: $light;
    font-size: 35px;
    font-weight: 700;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    color: $primary;
    cursor: pointer;
  }
}
.ambulanceBody {
  .icon {
    background-color: #0571a5;
    border-radius: 53%;
    padding: 4px;
    color: white;
  }
}
.map_button {
  background-color: $primary !important;
  border: 2px solid $light;
}
