@import "../../abstract//variable.module.scss";

.features {
  padding: 20px;

  .featuresCard {
    width: 320px;
    h3 {
      color: $primary;
    }
  }
  .service {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;

    .icon {
      height: 20px;
      width: 20px;
      padding-right: 5px;
    }
  }
  .dot {
    width: 16px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    // margin: 0 5px;
    // background: #f1f1f1;
  }
}

.title {
  color: $light;
  font-size: 35px;
  font-weight: 700;
}
