@import "../abstract/variable.module.scss";

.shipping {
  background-color: $Lightgray;
}
.shippingPart {
  /* background-color: #E9EBEC; */
  width: 70%;
  border-radius: 10px;
}
.shippingInfo {
  border: 1px solid $Lightgray;
  border-radius: 10px;
  margin: 20px 0px;
  // height: 680px;
  padding: 5%;
  background-color: $white;
  color: $black;

  .customerInfo_container {
    position: relative;
    width: 100%;
    height: 100%;
    /* min-height: 200vh; */
    background-color: #fff;
    /* overflow: hidden; */
    padding-bottom: 20px;
  }
  .form_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    h5 {
      font-size: 18px;
      font-weight: 600;
      color: #444;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      color: #4d84e2;
      text-align: center;
      padding-bottom: 20px;
      span {
        font-weight: 600;
        color: #323233;
        padding: 0px 10px;
      }
    }
  }
}

form {
  .form_input_field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0.5rem;
    overflow: hidden;
    align-items: center;
    margin: 0px 20px;
  }
}

.shippingHeder {
  margin-top: 20px;
  background-color: $primary;
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  h3 {
    font-size: 22px;
    font-weight: 700;
    color: $white;
  }
  p {
    color: $white;
    font-size: 16px;
  }
}

.costInformationPart {
  width: 20%;
}

@media screen and (max-width: 600px) {
}

@media (max-width: 1200px) {
  .customerInfo_container {
    .form_container {
      form {
        .form_input_field {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
          padding: 0.5rem;
          overflow: hidden;
          align-items: center;
          margin: 0px 18px;
        }
      }
    }
  }
}
@media (max-width: 870px) {
  .customerInfo_container .form_container .title {
    font-size: 2rem;
    color: #444;
    margin-bottom: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .customerInfo_container .form_container h5 {
    font-size: 18px;
    font-weight: 600;
  }
  .customerInfo_container {
    .form_container {
      form {
        .form_input_field {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
          padding: 0.5rem;
          overflow: hidden;
          align-items: center;
          margin: 0px 20px;
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .shippingPart {
    /* background-color: #E9EBEC; */
    width: 100%;
    border-radius: 10px;
  }
  .costInformationPart {
    width: 100%;
  }
  .shippingInfo {
    width: 312px;
  }
  .shipping {
    padding: 0px;

    .shippingHeder {
      margin-top: 20px;
      background-color: $primary;
      height: 50px;
      padding: 8px;
      display: block;
      align-items: left;
      border-radius: 10px;
      h3 {
        font-size: 18px;
        font-weight: 700;
        color: $white;
      }
    }
  }

  .customerInfo_container .form_container .title {
    font-size: 1.9rem;
    color: #444;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
  }
  .customerInfo_container .form_container h5 {
    font-size: 12px;
    font-weight: 600;
  }
  .customerInfo_container .form_container form .form_input_field {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0.5rem;
    overflow: hidden;
    align-items: center;
    margin: 20px 0px;
  }
}
