
.shipping{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}
.shippingPart{
    margin: 20px 0px;
    /* background-color: #E9EBEC; */
}
.shippingInfo{
    border: 1px solid lightgray;
    margin: 20px 0px;
    height: 680px;
    padding: 5%;
    background-color: #FFFFFF;
    color: rgb(5, 5, 5);

 }
 @media screen and (max-width: 600px) {
     .shippingInfo{
       width: 312px;
     }
   }


.shippingHeder{
    border: 1px solid lightgray;
    background-color: #ffffff;
    padding: 10px;
    margin: 0px;
}
.submitForm button{
    width: 160px;
    font-size: 20px;
    padding: 3px;
    display: block;
    margin: 0px auto;
    background-color: #1798E1;
    color: white;
    font-weight: 500;
}
.submitForm input,select{
    /* padding: 10px; */
    margin: 10px;
    /* width: 100%; */
    height: 50px;
    font-size: 15px;
    border: 1px solid lightgray;
}
.inputStyle{
    padding-right: 5px;
}
.submitForm .address input{
    height: 100px;
    margin-bottom: 2%;
}
.radioInput input{
    padding-left: 10px;
    width: 20px;
}
.radioInput p{
    padding: 4px;
}

